.x-tab-active .field-option-setting-s-w,
.x-tab-active .field-setting-s-w,
.x-tab-active .icon-datagrid-list-s-w,
.x-tab-active .yig-report-field-s-w,
.x-tab-active .yig-table-s-w,
.x-tab-active .icon-report-master-s-w,
.x-tab-active .yig-screen-s-w,
.x-tab-active .icon-field-list-s-w,
.x-tab-active .yig-file-s-w,
.x-tab-active .yig-grid-panel-s-w,
.x-tab-active .yig-form-field-s-w
{ 
	background-image: url('../images/active-icons.png') !important; 
	background-color: transparent; 
	background-repeat: no-repeat; 
}
.x-tab-active .field-option-setting-s-w { width: 16px; height: 16px; background-position: -10px -85px !important; }
.x-tab-active .field-setting-s-w { width: 16px; height: 16px; background-position: -10px -59px !important; }
.x-tab-active .icon-datagrid-list-s-w { width: 16px; height: 15px; background-position: -10px -34px !important; }
.x-tab-active .yig-report-field-s-w { width: 15px; height: 16px; background-position: -36px -87px !important; }
.x-tab-active .yig-table-s-w { width: 16px; height: 15px; background-position: -36px -62px !important; }
.x-tab-active .icon-report-master-s-w { width: 14px; height: 16px; background-position: -36px -36px !important; }
.x-tab-active .yig-screen-s-w { width: 16px; height: 14px; background-position: -10px -10px !important; }
.x-tab-active .icon-field-list-s-w { width: 13px; height: 16px; background-position: -36px -10px !important; }
.x-tab-active .yig-file-s-w { width: 13px; height: 16px; background-position: -59px -10px !important; }
.x-tab-active .yig-grid-panel-s-w { width: 16px; height: 13px; background-position: -60px -36px !important; }
.x-tab-active .yig-form-field-s-w { width: 13px; height: 15px; background-position: -62px -59px !important; }