@charset"UTF-8";
 .x-body, * {
	/*font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;*/
}
.settingSelector-div {
	padding: 5px 5px 5px 10px;
	background: #9d5ea5;
	margin-top :5px;
	color : #fff;
	cursor: pointer;
	float: left;
	width: 100%;
}
.settingSelector-div:hover {
	background: #9C21AC
}
.settingSprite {
	width: 16px;
	height: 16px;
	float:left;
	margin-right:10px;
	margin-top:2px;
}
.x-item-selected {
	background: #CADCBA!important;
}
.print-condition-checkboxgroup {
	background:rgb(220, 161, 236);
}
.export-condition-checkboxgroup {
	background:rgb(115, 120, 226);
}
.order-condition-checkboxgroup {
	background:rgb(164, 189, 136);
	margin-right:5px;
}
.dataSync-div .yig-importcsv-s-b, .dataSync-div .yig-csvexport-s-b, .dataSync-div .yig-sync-s-b {
	float:left;
	margin:2px 5px 0 0;
}
.order-summary {
	width:100%;
}
.order-summary table {
	width: 100%;
}
.order-summary table td {
	text-align:center;
	width:33.33%;
}
.order-summary-item-div.x-item-selected {
	background:none !important;
}
.x-gridheaderfilters-filter-container .x-form-text, .x-gridheaderfilters-filter-container .x-form-field, .x-gridheaderfilters-filter-container .x-form-trigger-wrap {
	border-left:0px !important;
	border-right:0px !important;
}
.disabled-field label {
	overflow:hidden;
}
.label-hover-cls label {
	cursor:pointer;
	text-decoration: underline;
}
.btn_row_gift {
	margin-left: 5px;
	background: url(../images/detail.png) !important;
	background-position: 0 0 !important;
	float: left;
	width: 16px;
	height: 16px;
	cursor:pointer;
}
.tempSearchSelector-div {
	float:left;
	margin-left:5px;
	margin-top:5px;
	cursor:pointer;
	padding : 4.5px;
	border : 1px solid #ccc;
	text-decoration: underline;
}
.tempSearchSelector-div.x-item-selected {
	background:none !important;
}
.yig-deletec-ico {
	width: 16px;
	height: 16px;
	background: url(../images/icons/delete_ico.png) no-repeat;
}
.yig-mail-s-w {
	width: 16px;
	height: 16px;
	background: url(../images/icons/mail_ico.png) no-repeat;
}
.move-right {
	background: url(../images/move-right.png) no-repeat !important;
	width:30px !important;
}
.member-icon, .product-icon, .auction-bidding-icon, .auction-member-icon {
	width:48px !important;
	height:17px;
	float: left;
	margin-right: 5px;
	text-indent: -9999px;
	cursor:pointer;
	background-position: center;
}
.member-icon {
	background: url(../images/icons/member-icon.png) no-repeat #7BC138!important;
}
.product-icon {
	background: url(../images/icons/product-icon.png) no-repeat #C4BF37!important;
}
.auction-bidding-icon {
	background: url(../images/icons/auction-bidding-icon.png) no-repeat #1B8560!important;
}
.auction-member-icon {
	background: url(../images/icons/auction-member-icon.png) no-repeat center #C8EAFC!important;
	margin-right: 5px !important;
	border: 1px solid #95C0D6;
}
.move-left {
	background: url(../images/move-left.png) no-repeat !important;
	width:30px;
	height:16px;
}
.visible-ico {
	background: url(../images/visible.png) no-repeat !important;
	width:16px;
	height: 16px;
}
.hidden-ico {
	background: url(../images/hidden.png) no-repeat !important;
	width:16px;
	height: 16px;
}
.memo-tab {
	cursor:default !important;
}
.memo-tab .x-tab-inner-center {
	cursor:default;
}
.stock-done {
	background:#836cbf!important;
	color: #4F034f !important;
}
.design-confirm-done {
	background:rgb(182, 182, 247)!important;
	color: #0D3366 !important;
}
.account-done {
	color:rgb(90, 18, 90);
	background: #EA70EA !important;
}
.statusDoneCount-div span {
	float: left;
	padding:0px 3px;
}
.total-record {
	background-color: #D08AFF;
	min-width: 30px;
	text-align: center;
	color: #000;
	margin: 0 6px 0 2px;
}
.total-order-done {
	background-color: #BFF7F4;
	min-width: 30px;
	text-align: center;
	color: #000;
	margin: 0 6px 0 2px;
}
.total-design-done {
	background-color: #FFEBAE;
	min-width: 30px;
	text-align: center;
	color: #000;
	margin: 0 6px 0 2px;
}
.total-designConfirm-done {
	background-color: #B5F9D6;
	min-width: 30px;
	text-align: center;
	color: #000;
	margin: 0 6px 0 2px;
}
.total-stock-done {
	background-color: #ADE8FD;
	min-width: 30px;
	text-align: center;
	color: #000;
	margin: 0 6px 0 2px;
}
.total-print-done {
	background-color: #CCBCFC;
	min-width: 30px;
	text-align: center;
	color: #000;
	margin: 0 6px 0 2px;
}
.total-delivery-done {
	background-color: #FFD8C3;
	min-width: 30px;
	text-align: center;
	color: #000;
	margin: 0 6px 0 2px;
}
.btn-discount-cls, .btn-discount-cls.x-btn-pressed, .btn-discount-cls.x-btn-default-small-foucs {
	background: url(../images/icons/btn-discount-cls.png) no-repeat !important;
	background-color: transparent !important;
	width: 37px;
	height: 28px;
	border: 0 !important;
}
.btn-discount-cls:hover {
	background: url(../images/icons/btn-discount-cls.png) no-repeat;
	background-color: transparent;
}
.x-boundlist-item:nth-child(odd) {
	background: #fff;
	border: 0 none !important;
}
.x-boundlist-item:nth-child(even) {
	background: #f0f0f0;
	border: 0 none !important;
}
.x-boundlist-item.x-boundlist-item-over {
	background: #ddead2;
}
.x-boundlist-item.x-boundlist-selected {
	background: #C7E6AF;
}
.skuSummaryGridCnt, .orderMasterPrintSummaryCnt {
	background: #e6e6e6;
}
.x-form-disabled-field, .x-grid-row-over .x-form-disabled-field, .x-grid-row-selected .x-grid-td.x-form-disabled-field {
	background: #c3c3c3 !important;
}
.multifileContainer, .multifileContainer div {
	width: 110px !important;
	float: right;
	overflow: visible !important;
}
.dragdrop-window #dragload {
	height: 305px;
	width: 450px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.a-line {
	border-left:3px solid #8D7EBA;
}
.b-line {
	border-left:3px solid #00948C;
}
.c-line {
	border-left:3px solid #00AFEF;
}
.d-line {
	border-left:3px solid #FAA428;
}
.e-line {
	border-left:3px solid #E3111A;
}
.f-line {
	border-left:3px solid #c0c0c0;
}
.g-line {
	border-left:3px solid #06914B;
}
.h-line {
	border-left:3px solid #CC8F0D;
}
.i-line {
	border-left:3px solid #97481E;
}
.j-line {
	border-left:3px solid #FF4D00;
}
.j-line table {
	margin-bottom: -6px!important;
}
/*.j-line textarea, .j-line div {
	border-left:3px solid #FF4D00;
	
}*/
 .grid-config {
	/*border-left:3px solid #bcbcbc !important;*/
}
.a-line .x-form-item-label, .b-line .x-form-item-label, .c-line .x-form-item-label, .d-line .x-form-item-label, .e-line .x-form-item-label, .f-line .x-form-item-label, .g-line .x-form-item-label, .h-line .x-form-item-label, .i-line .x-form-item-label, .j-line .x-form-item-label {
	margin-top: 0;
	border-left: 0;
}
.a-line .x-form-field, .b-line .x-form-field, .c-line .x-form-field, .d-line .x-form-field, .e-line .x-form-field, .f-line .x-form-field, .g-line .x-form-field, .h-line .x-form-field {
	border-left: 0;
}
.editable-col {
	background: #DDEAD2 !important;
}
.editable-col .x-column-header-over {
	background: #d5e3ca !important;
}
.non-editable-col {
	background: #DDDDDD !important;
}
.ext-ux-clearbutton {
	top: 3px !important;
}
.sortable-col .x-column-header-text {
	background: url("../images/sort.png") no-repeat right !important;
}
/*.x-tool-expand-left, .x-tool-collapse-left {
	background-position: 0 -176px !important;
}*/
.delivery-bill-generate-done, .delivery-bill-generate-done td {
	color: #000;
	background: #FFC2C2 !important;
}
.delivery-done, .delivery-done td {
	color: #000;
	background: #FFBA95 !important;
}
.print-done, .print-done td {
	color: #000;
	background: #FCE5B4!important;
}
.design-done, .design-done td {
	color: #000;
	background: #FFEBAE!important;
}
.order-done, .order-done td {
	color: #000;
	background: #BFF7F4 !important;
}
.frame-design-done, .frame-design-done td {
	color: #000;
	background: #859FEF !important;
}
.design-confirm-done-stock-not-done, .design-confirm-done-stock-not-done td {
	color: #000;
	background: #B5F9D6!important;
}
.stock-confirm-done-design-not-done, .stock-confirm-done-design-not-done td {
	color: #000;
	background: #ADE8FD!important;
}
.design-confirm-done-stock-done, .design-confirm-done-stock-done td {
	color: #000;
	background: #CCBCFC!important;
}
.account-done, .account-done td {
	color: #000;
	background: #E0CDBA!important;
}
.order-closed, .order-closed td {
	background: #BD2A4E !important;
}
.userGrp-div.x-item-selected {
	background: url(../images/icon_selected.png) no-repeat 98% center #EFDADA!important;
}
.userGrp-div.x-item-selected:hover {
	background: url(../images/icon_selected.png) no-repeat 98% center #C3C3C3!important;
}
.userGrp-div:hover {
	background: #C3C3C3 !important;
	cursor: pointer;
}
.numeric_underline {
	text-decoration: underline;
	cursor: pointer;
	padding-top: 2px !important;
}
.numeric_underline:hover {
	background: #f0f0f0;
	color: #2c2c2c;
}
.userGrp-div {
	padding: 6px 3px !important;
}
.x-grid-row-over .x-grid-td {
	color: #A04301!important;
}
.x-grid-row-selected .x-grid-td {
	/* border-top: 1px solid #000 !important; */
	/* border-bottom: 1px solid #000 !important; */
	color: #0600FF !important;
}
/*.delivery-bill-generate-done.x-grid-row-over td {
  background: #faadad !important;
}
.delivery-done.x-grid-row-over td {
  background: #b25929 !important;
}
.print-done.x-grid-row-over td {
  background: #eaae2e !important;
}
.design-done.x-grid-row-over td {
  background: #FFDE78 !important;
}
.order-done.x-grid-row-over td {
  background: #00b7ad !important;
}
.design-confirm-done-stock-not-done-done.x-grid-row-over td {
  background: #07ab59 !important;
}
.stock-confirm-done-design-not-done-done.x-grid-row-over td {
  background: #11bfff !important;
}
.design-confirm-done-stock-done-done.x-grid-row-over td {
  background: #a08ed4 !important;
}
.account-done.x-grid-row-over td {
  background: #c8bbae !important;
}
.order-closed.x-grid-row-over td {
  background: #e4345f !important;
}*/
 .commentpanel-collapse {
	background-color: #8c8c8c !important;
}
.commentpanel-collapse .x-tool-img {
	background-color: #8c8c8c !important;
}
.commentpanel-collapse .x-tool-expand-bottom {
	background-position: 0 -224px;
}
.commentpanel-collapse .x-tool-collapse-top {
	background-position: 0 -208px;
}
.x-grid-row-draft .x-grid-td {
	background: #a8a8a8 !important;
}
/*.x-grid-row-draft.x-grid-row-over .x-grid-td {
  background: rgba(168,168,168,0.75) !important;
}*/
 .update-icons-view {
	width: 30px;
	height: 16px;
	float: left;
	background: url(../images/icons/update-icon-views.png) no-repeat;
}
.sku-cmp-panel-collapse {
	left: auto !important;
	right: 10px !important;
	top: 5px !important;
}
.sku-cmp-panel {
	cursor: pointer !important;
}
.sku-cmp-panel .x-tab-default-top {
	background: #919191;
}
.sku-cmp-panel .x-tab-default-over {
	background: #e2e2e2;
}
.sku-cmp-panel .x-tab-default-top.x-tab-default-active {
	background: #fff
}
.x-grid-locked .x-grid-cell-inner {
	height: 21px;
}
.screen-fld-ux-clear-css .ext-ux-clearbutton {
	top: 26px !important;
}
.x-grid-locked .x-grid-inner-locked {
	border-right: 5px solid #c0c0c0 !important;
}
.sortable-col.x-column-header-sort-ASC .x-column-header-text {
	background: url("../images/up.png") no-repeat right !important;
}
.sortable-col.x-column-header-sort-DESC .x-column-header-text {
	background: url("../images/down.png") no-repeat right !important;
}
.sortable-col .x-column-header-trigger {
	background-image: none !important;
}
.orderMasterField, .orderMasterLabel {
	font-weight: bold !important;
}
.icon_pdf {
	float: left;
	cursor: pointer;
}
.print-type-col {
	background: #F2F2E5 !important;
}
.print-type-col .x-column-header-over {
	background: #e4e4e4 !important;
}
.print-type-cell {
	background: #FFFFF1 !important;
}
/*.x-grid-td {
  border-top:1px solid transparent !important;
  border-bottom:1px solid transparent !important;
}*/
 .total-frame-design-done {
	background-color:#00BBFF;
	min-width: 30px;
	text-align: center;
	color: #000;
	margin: 0 6px 0 2px;
}
.frame-design-done .x-grid-td {
	background-color: #00BBFF !important;
	color: #000;
}
.lock-horizontal-line .x-grid-td {
	border-bottom: 5px solid #c0c0c0 !important;
}
.resize-icon .x-tool-maximize {
	/*background: none !important;*/
}
.column-unlocked, .column-locked {
	cursor: pointer;
}
.csvExportMapped-div {
	min-height: 30px;
	background: rgb(166, 166, 166);
	border-bottom: 1px solid #fff;
}
.x-tool-minimize {
	opacity: 1 !important;
}
.icons_download {
	cursor: pointer;
	float: left;
}
.comment-allign-right {
	float: right;
}
.status-comment-cls {
	border-left: 3px solid #8cce5b;
}
.text-area-comment {
	background: #ddead2;
}
.text-area-comment .x-panel-body-default {
	background: transparent;
}
.item-color-info-cls .x-form-display-field, .item-size-info-cls .x-form-display-field {
	font-weight: bold;
}
.delivery-bill-generate-done-count .delivery-bill-generate-done-count {
	background: #FFC2C2 !important;
	border: 1px solid #2DC334;
}
.delivery-done-count .delivery-done-count {
	background: #FFBA95 !important;
	border: 1px solid #F9874A;
}
.print-done-count .print-done-count {
	background: #FCE5B4!important;
	border: 1px solid #CFAE68;
}
.design-done-count .design-done-count {
	background: #FFEBAE!important;
	border: 1px solid #D8BE6F;
}
.order-done-count .order-done-count {
	background: #BFF7F4 !important;
	border: 1px solid #69B8B4;
}
.design-confirm-done-stock-not-done-count .design-confirm-done-stock-not-done-count {
	background: #B5F9D6!important;
	border: 1px solid #73C89C;
}
.stock-confirm-done-design-not-done-count .stock-confirm-done-design-not-done-count {
	background: #ADE8FD!important;
	border: 1px solid #6FADC3;
}
.design-confirm-done-stock-done-count .design-confirm-done-stock-done-count {
	background: #CCBCFC!important;
	border: 1px solid #9D8BD0;
}
.account-done-count .account-done-count {
	background: #E0CDBA!important;
	border: 1px solid #2DC334;
}
.order-closed-count .order-closed-count {
	background: #BD2A4E !important;
	border: 1px solid #2DC334;
}
.frame-design-done-count .frame-design-done-count {
	background: #859FEF !important;
	border: 1px solid #4360B8;
}
.record-count, .order-done-count, .design-done-count, .design-confirm-done-stock-not-done-count, .stock-confirm-done-design-not-done-count, .design-confirm-done-stock-done-count, .frame-design-done-count, .print-done-count, .delivery-done-count {
	float: left;
	margin-right: 3px;
}
.record-count span, .order-done-count span, .design-done-count span, .design-confirm-done-stock-not-done-count span, .stock-confirm-done-design-not-done-count span, .design-confirm-done-stock-done-count span, .frame-design-done-count span, .print-done-count span, .delivery-done-count span {
	min-width: 32px;
	text-align: right;
}
.record-count .record-count {
	background: #85EF8A !important;
	border: 1px solid #2DC334;
}
#StatusSummaryReport-body .x-box-target textarea {
	border: 10px solid #ddead2;
}
.a-line, .b-line, .c-line, .d-line, .e-line, .f-line, .g-line, .h-line, .i-line, .j-line {
	background: #f0f0f0;
	padding-left: 3px !important;
}
.a-line table, .b-line table, .c-line table, .d-line table, .e-line table, .f-line table, .g-line table, .h-line table {
	border-left: 0;
}
.disabled-field .x-form-field, .non-editable-cell-background .non-editable-cell {
	background: #f2f2f2 !important;
}
.focus_on_enterkey .x-form-trigger-wrap, .focus_on_enterkey .x-form-field {
	border: 1px solid #6DA4FF !important;
}
.disabled-field.focus_on_enterkey .x-form-trigger-wrap, .disabled-field.focus_on_enterkey .x-form-field {
	border-color: #d9d9d9 !important;
}
.focus_on_enterkey .x-form-trigger-wrap .x-form-field {
	border: 0 none !important;
}
.x-grid-cell {
	border-color: #d9d9d9 !important;
}
.print-place-col {
	background: #D0DAEA !important;
}
.print-place-cell {
	background: #E6EDF7 !important;
}
.item-detail-container {
	border: 1px solid rgb(126, 126, 126);
}
.btn_row_memo {
	float: right;
	background: url(../images/yig-memo.png?_dc=1430805202) no-repeat center;
	height: 16px;
	width: 18px;
	cursor: pointer;
}
.memo-record {
	width: calc(100% - 29px);
	float: left;
	overflow: hidden;
}
.icon-task-done {
	width: 24px;
	height: 24px;
	float: left;
	background: url(../images/icon-task-done.png) no-repeat;
}
.non-editable-row .x-grid-td {
	background: #eee !important;
}
.unsaved-row-border, .unsaved-row-border td {
	border-top:1px solid #BD2A4E !important;
	border-bottom:1px solid #BD2A4E !important;
}
.icon-top-postion .x-header-vertical .x-tool {
	top: 0 !important;
}
.icon-top-postion .x-header-vertical .x-panel-header-text-container {
	top: 22px !important;
}
.dayBookMasterData-div table {
	border-collapse: collapse;
	/*height: 58px !important;*/
}
.dayBookMasterData-div table, .dayBookMasterData-div table tr, .dayBookMasterData-div table td, .dayBookMasterData-div table th {
	border:0;
}
.dayBookMasterData-div table td, .dayBookMasterData-div table th {
		min-width: 150px;
}
.dayBookMasterData-div table td span, .dayBookMasterData-div table th span {
	padding: 7px 5px;
	margin-right: 2px;
	float: left;
	width: 99%;
}
.dayBookMasterData-div table th span {
	background: #dadada;
	text-align: left;
}
.dayBookMasterData-div table td span {
	background: #eee;
}
.bookInfo-div {
	padding: 5px;
	overflow: auto;
	height: 100%;
}
p.book_title {
	font-weight: bold;
	margin-bottom: 5px;
}
.book_img {
	text-align: center;
	margin-top: 10px;
}
.book_img img {
	max-width: 100%;
}
.dayBookMasterData-div.x-item-selected {
	background: none !important;
}
.dataview-selectable {
	background: #FADCDC!important;
}
.bookInfo-div p {
	clear: both;
}
.bookInfo-div span {
	min-width: 75px;
	float: left;
	font-weight: bold;
}
tfoot .x-grid-row-summary .x-grid-cell {
	background-color: #eee !important;
}
.tpl-class {
	border:1px solid silver;
	overflow-x: auto;
	overflow-y: hidden !important;  
}
.tpl-class .x-box-item {
	top: 0 !important;
	height: 60px !important;
}
.x-btn-disabled{
	background:#ABAAAA!important; 
}
.x-btn-toolbar.x-btn-disabled{
	background:#f5f5f5!important; 
}
.dayBookMasterData-div table.day-book-master-tbl td span, .dayBookMasterData-div table.day-book-master-tbl th span {
	padding: 3px 5px;
}
.empty-label {
	font-weight: bold;
	padding: 5px;
	float: left;
}
.x-tab-active.yig-book-s-w {
	background: url(../images/bbase_sprite.png) no-repeat;
}
.x-tab-active .yig-day-book-s-w {
	background: url(../images/bbase_sprite.png) no-repeat -36px -10px !important;
}
.x-tab-active .yig-book-s-w {
	background: url(../images/bbase_sprite.png) no-repeat -59px -10px !important;
}
.msg-failure span {
	float: left;
	color: rgb(182, 11, 12);
}
.msg-failure .icons-delete, .msg-success .icons-delete{
	margin-top: 2px;
	cursor: pointer;
	background: url(../images/icons/delete_b.png) !important;
}
.msg-cmp {
	float: left;
	padding: 2px 20px;
	background-color: #E5D8A5;
	border: 1px solid #BE8A02;
	box-shadow: 0 0 10px #BE8A02;
	font-weight:bold;
}
.msg-success span {
	color: green;
	float: left;
}
.template-menu a, .public-template a {
	background-image: none !important;
}
.product-sold.x-grid-row .x-grid-td {
  background: #F7F693 !important;
}
.reportList-div {
	background: #F5F3F3;
	padding: 5px;
	display: block;
	overflow: hidden;
	/*margin-top: 3px;*/
	border-top: 1px solid #dadada;
}
.reportList-div .yig-report-s-w {
	float: left;
	margin-right: 5px;
}
/*.x-grid-editor .x-form-text {
	font: 15px/20px "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
	height: 27px !important;
}*/
.drag_icon {
	float: left;
	margin-top: 50px;
	cursor: move;
	height: 21px;
	width: 6px;
	background: url(../images/icon_drag.png) no-repeat;
}
.close_icon, .icon_view, .icon_download {
	display: block;
	height: 22px;
	width: 22px;
	cursor: pointer;
}
.close_icon {
	background: url(../images/close_icon.png) no-repeat center;
}
.icon_view {
	background: url(../images/icon_view.png) no-repeat center;
	margin: 9px 0 7px;
}
.icon_download {
	background: url(../images/icon_download.png) no-repeat center;
	margin-bottom: 15px;
}
.row_template {
	min-height: 125px;
	overflow: hidden;
}
.image {
	width: 220px;/*275px;*/
	float: left;
	margin: 0 10px;
	height: 137px;
	text-align: center;
	padding: 3px;
	border: 1px solid #dadada;
}
.image img {
	max-width: 100%;
	max-height: 100%;
}
.x-img {
	max-width: 100%;
	width: auto !important;
	height: auto !important;
	max-height: 100% !important;
}
.x-img.nstbase_logo {
	max-width: 100%;
	width: auto !important;
	height: auto !important;
	max-height: 35px !important;
}
.buttons_block {
	width: 16px;
	float: left;
}
.multifileContainer {
	top: 165px !important;
	left: 130px !important;
}
.multifileContainer .plugin-button {
	left: 0 !important;
}
.file-dropzone p {
	padding: 63px 5px;
	text-align: center;
}
.x-grid-cell-inner .icons-delete, .btnRemove {
	margin-left: 5px !important;
	height: 17px !important;
	background: url("../images/icons/delete_record.png") no-repeat center #F56954 !important ;
}
.btnRemove {
	border:0 !important;
	text-indent: -9999px !important;
	width: 42px;
	cursor: pointer;
}
.x-window-item {
	text-align: center;
}
.auction-detail-div p {
	margin-bottom: 3px;   
}
#dropElementContainer-innerCt #dropElementContainer-targetEl {
	height: 100%;
}
.dragable-element {
	height: 100%;
}
ul, ol {
  padding-left: 40px;
}
ol li {
  list-style-type: decimal !important;
}
ul li {
  list-style-type: disc !important;
}
.dragdrop-window .multifileContainer {
	display: none;
}
.auction-detail-div span {
	padding: 0 0 0 5px;
}
.dragdrop-window {
	border: 0 !important;
	height: 305px !important;
}
.dragdrop-window .x-window-header {
	display: none;
}
.dragdrop-window .x-window-body {
	top: 0 !important;
	border: 0 none !important;
	height: 305px !important;
}
.dragdrop-window .file-dropzone {
	border: 0 none !important;
	height: 305px !important;
}
.dragdrop-window .x-box-inner, .dragdrop-window .x-box-target {
	width: 450px !important;
	height: 305px !important;
}
.file-panel-label {
	float: left;
	width: 133px;
	margin-left: 5px;   
}
.filePanel-body .x-fit-item {
	background: #F5F3F3;
}
.auction-member-info-div span{
	font-weight: bold;
	float: left;
	margin-right: 5px;
}
.auction-name-label {
	margin-left: 10px;
}
.csvMask-image-cnt-cls .x-box-target{
	height: 30px!important;
}
.supplier-name-combo-win-cls input{
	height: 26px!important;
}
.sysDatagrid-div, .fileGenerate-div, .dataMapper-div {
	background: #e4e4e4;
	padding: 7px;
	display: block;
	overflow: hidden;
	margin-bottom: 2px;
	cursor: pointer;
}
.sysDatagrid-div {
	margin-bottom: 0;
}
.sysDatagrid-div:hover {
	background: #f7f7f7 !important;
}
.sysDatagrid-div .nst-icon-setting, .fileGenerate-div .nst-icon-setting, .dataMapper-div .nst-icon-setting   {
	float: left;
	margin-right: 10px;
}
.sysDatagrid-div .s, .fileGenerate .s, .dataMapper-div .s {
	width: calc(100% - 26px);
	float: left;
	word-wrap: break-word;
}
.btnMove {
	width:28px;
	height: 14px;
	background: url("../images/move-left.png") no-repeat center !important ;
	border:0 !important;
	text-indent: -9999px !important;
	cursor: pointer;
}
#topContainer .x-form-trigger-wrap .x-form-text {
	height: 32px;
}
.field-delete-icon, .field-undelete-icon, .action_replica .delete, .delete_record {
	width: 42px;
	height: 17px;
	cursor: pointer;
	border: 0 !important;
	text-indent: -9999px !important;
}
.field-delete-icon, .action_replica .delete, .delete_record  {
	background: url("../images/icons/delete_record.png") no-repeat center !important;
}
.field-undelete-icon {
	background: url("../images/icons/field-undelete-icon.png") no-repeat center !important;
}
.x-panel-header-default-vertical .x-tool-after-title {
	top: 0 !important
}
.x-grid-cell-drag_drop_column .x-grid-cell-inner {
	width: 100%;
	height: 100%;
	background: url(../images/icons/dragico.png) no-repeat center;
	cursor: move;
}
.yig-view-s-w {
	margin-top: 3px;
}
#topContainer .x-form-cb-label-after {
	color: #fff
}
.db-name-label {
	color: #fff;
}
.mi-checked-icon, .mi-unchecked-icon {
	cursor: pointer;
}
.save-panel .panel-title {
	color: #3459af;
	font-weight: bold;
}
.btnGenerate {
	background-color: #799A79 !important;
	border: #587358 1px solid  !important;
	color: #fff;
	box-shadow: none;
	padding: 2px 5px;
	cursor: pointer;
}
.btnGenerate:hover{
	background-color: #587358 !important;
}
.s .btnGenerate {
	float: right;
}
.bulk-panel .x-field .x-form-item-label{
	width: 59px !important;
}
.bulk-panel .x-btn-default-small {
		background-color: #040707 !important;
}
.save-panel .btnGenerate {
	margin-left: 10px !important;
}
.mapped {
	float: left;
	margin-left: 3px;
}
.btnMove {
	float: left;
}
.x-dataview-item.btn-dataview {
	padding: 0;
}
.x-dataview-item.btn-dataview:nth-child(even) .sysDatagrid-div {
	background: #efefef;
}
.query_result_table .x-grid-cell {
	vertical-align: top !important;
}
.query_result_table .x-grid-cell .x-grid-cell-inner  {
	max-height: 100px;
	overflow-y: auto;
}