.iocn-field-option-setting,
.icon-datagrid-list,
.icon-field-setting,
.icon_table,
.icon-sign-out,
.icon-field-list,
.icon_file,
.icon-report,
.field-delete-icon1,
.field-option-setting-s-w,
.field-setting-s-w,
.field-undelete-icon1,
.mi-checked-icon,
.next-value,
.nst-add,
.nst-icon-setting ,
.nst-save,
.previous-value,
.yig-cancel-s-w,
.icon-datagrid-list-s-b,
.icon-datagrid-list-s-w,
.nst-search,
.yig-report-field-s-b,
.yig-report-field-s-w,
.yig-table-s-w,
.icon-report-master-s-b,
.icon-report-master-s-w,
.mi-unchecked-icon,
.nst-login_in,
.yig-screen-s-b,
.yig-screen-s-w,
.icon-field-list-s-w,
.yig-file-s-w,
.yig-grid-panel-s-b,
.yig-grid-panel-s-w,
.yig-form-field-s-b,
.yig-form-field-s-w,
.yig-download-s-w,
.yig-view-s-w,
.yig-revert-s-w,
.yig-set-s-w,
.yig-edit-s-w
{ 
	background-image: url('../images/default-icons.png') !important; 
	background-color: transparent; 
	background-repeat: no-repeat; 
}
.iocn-field-option-setting { width: 24px; height: 24px; background-position: -10px -135px !important; }
.icon-datagrid-list { width: 24px; height: 23px; background-position: -10px -102px !important; }
.icon-field-setting { width: 24px; height: 23px; background-position: -10px -69px !important; }
.icon_table { width: 24px; height: 23px; background-position: -10px -36px !important; }
.icon-sign-out { width: 22px; height: 24px; background-position: -44px -138px !important; }
.icon-field-list { width: 19px; height: 24px; background-position: -44px -104px !important; }
.icon_file { width: 19px; height: 24px; background-position: -44px -70px !important; }
.icon-report { width: 18px; height: 24px; background-position: -44px -36px !important; }
.field-delete-icon1 { width: 16px; height: 16px; background-position: -62px -10px !important; }
.field-option-setting-s-w { width: 16px; height: 16px; background-position: -73px -88px !important; }
.field-setting-s-w { width: 16px; height: 16px; background-position: -73px -62px !important; }
.field-undelete-icon1 { width: 16px; height: 16px; background-position: -72px -36px !important; }
.mi-checked-icon { width: 16px; height: 16px; background-position: -76px -140px !important; }
.next-value { width: 16px; height: 16px; background-position: -76px -114px !important; }
.nst-add { width: 16px; height: 16px; background-position: -10px -10px !important; }
.nst-icon-setting  { width: 16px; height: 16px; background-position: -36px -10px !important; }
.nst-save { width: 16px; height: 16px; background-position: -88px -10px !important; }
.previous-value { width: 16px; height: 16px; background-position: -98px -36px !important; }
.yig-cancel-s-w { width: 16px; height: 16px; background-position: -99px -88px !important; }
.yig-edit-s-w { width: 16px; height: 16px; background-position: -99px -62px !important; }
.yig-revert-s-w { width: 16px; height: 16px; background-position: -102px -140px !important; }
.yig-set-s-w { width: 16px; height: 16px; background-position: -102px -114px !important; }
.icon-datagrid-list-s-b { width: 16px; height: 15px; background-position: -114px -10px !important; }
.icon-datagrid-list-s-w { width: 16px; height: 15px; background-position: -124px -36px !important; }
.nst-search { width: 15px; height: 16px; background-position: -125px -87px !important; }
.yig-report-field-s-b { width: 15px; height: 16px; background-position: -125px -61px !important; }
.yig-report-field-s-w { width: 15px; height: 16px; background-position: -128px -138px !important; }
.yig-table-s-w { width: 16px; height: 15px; background-position: -128px -113px !important; }
.icon-report-master-s-b { width: 14px; height: 16px; background-position: -140px -10px !important; }
.icon-report-master-s-w { width: 14px; height: 16px; background-position: -150px -86px !important; }
.mi-unchecked-icon { width: 16px; height: 14px; background-position: -150px -62px !important; }
.nst-login_in { width: 14px; height: 16px; background-position: -150px -36px !important; }
.yig-screen-s-b { width: 16px; height: 14px; background-position: -153px -152px !important; }
.yig-screen-s-w { width: 16px; height: 14px; background-position: -154px -128px !important; }
.icon-field-list-s-w { width: 13px; height: 16px; background-position: -164px -10px !important; }
.yig-file-s-w { width: 13px; height: 16px; background-position: -174px -36px !important; }
.yig-grid-panel-s-b { width: 16px; height: 13px; background-position: -174px -105px !important; }
.yig-grid-panel-s-w { width: 16px; height: 13px; background-position: -176px -82px !important; }
.yig-form-field-s-b { width: 13px; height: 15px; background-position: -179px -153px !important; }
.yig-form-field-s-w { width: 13px; height: 15px; background-position: -180px -128px !important; }
.yig-download-s-w { width: 12px; height: 16px; background-position: -187px -10px !important; }
.yig-view-s-w { width: 16px; height: 10px; background-position: -176px -62px !important; }