.yig-help-m-b,
.btn_row_del,
.btn_search_remove,
.column-unlocked,
.yig-grid-reload-b-s,
.yig-refresh-s-b,
.yig-search-save-s-b,
.yig-selected-s-b,
.nst-default,
.yig-search-s-b,
.yig-selectall-s-b,
.yig-selected-print-s-b,
.ismappedsquare,
.mi-moveDown-icon,
.mi-moveUp-icon,
.yig-logout-s-b,
.yig-selectall-print-s-b,
.column-locked,
.icon_user_profile,
.mi-action-move-btn,
.cbo-setting-btn-ico
{ 
	background-image: url('../images/icons_b.png') !important; 
	background-color: transparent; 
	background-repeat: no-repeat; 
}
.yig-help-m-b { width: 28px; height: 28px; background-position: -10px -163px !important; }
.btn_row_del { width: 16px; height: 16px; background-position: -10px -137px !important; }
.btn_search_remove { width: 16px; height: 16px; background-position: -36px -36px !important; }
.cbo-setting-btn-ico { width: 16px; height: 16px; background-position: -36px -62px !important; }
.column-unlocked { width: 16px; height: 16px; background-position: -10px -111px !important; }
.yig-grid-reload-b-s { width: 16px; height: 16px; background-position: -36px -88px !important; }
.yig-refresh-s-b { width: 16px; height: 16px; background-position: -10px -85px !important; }
.yig-search-save-s-b { width: 16px; height: 16px; background-position: -36px -114px !important; }
.yig-selected-s-b { width: 16px; height: 16px; background-position: -10px -59px !important; }
.nst-default { width: 16px; height: 15px; background-position: -48px -165px !important; }
.yig-search-s-b { width: 15px; height: 16px; background-position: -62px -111px !important; }
.yig-selectall-s-b { width: 16px; height: 15px; background-position: -62px -86px !important; }
.yig-selected-print-s-b { width: 16px; height: 15px; background-position: -62px -61px !important; }
.ismappedsquare { width: 15px; height: 15px; background-position: -62px -36px !important; }
.mi-moveDown-icon { width: 16px; height: 14px; background-position: -10px -35px !important; }
.mi-moveUp-icon { width: 16px; height: 14px; background-position: -60px -10px !important; }
.yig-logout-s-b { width: 14px; height: 16px; background-position: -36px -10px !important; }
.yig-selectall-print-s-b { width: 14px; height: 16px; background-position: -74px -164px !important; }
.column-locked { width: 13px; height: 17px; background-position: -74px -137px !important; }
.icon_user_profile { width: 14px; height: 15px; background-position: -10px -10px !important; }
.mi-action-move-btn { width: 5px; height: 16px; background-position: -86px -10px !important; }
